<html>
    <head>
        <title>Mini Messageboard</title>
    </head>
    <body>
        <h1>Messageboard</h1>
        <%- include('navbar', {links: links}) %>
        <div>
            <% messages.forEach((message) => { %>
                <div>
                    <h3><%= message.messagetext %></h3>
                    <p><%= message.username %></p>
                    <p><%= message.date %></p>
                </div>
            <% }); %>
        </div>
    </body>
</html>